<!-- views/pages/index.ejs -->

    <% include ../partials/head %>

<body class="container">
    
    <% include ../partials/header %>
   	 
   	<% include ../partials/chat %>
	         
    <% include ../partials/footer %>
 
</body>
</html>
