<!-- views/pages/account.ejs-->
<% include ../partials/head %>

<body class="container">
 <% include ../partials/header %>
 <div class="row">
  <% include ../partials/menuopen %>
   
   <div class="col-sm-9">
    <div class="well">
     <h2>lkjsdflksjdklsdjflkslkjzdlkjdslkfjsdlk</h2>
    </div>
   </div>
  
 </div>
 <% include ../partials/footer %>
</body>
</html>

