<!-- views/pages/index.ejs -->

    <% include ../partials/head %>

<body class="container">
    
    <% include ../partials/header %>
   
  
	  
	    <div class="jumbotron">
       
            <a href="/play" class="btn btn-info" role="button">Play</a>
        </div>
       
             
      <% include ../partials/footer %>
 
</body>
</html>
